extends layout

block content

    if (survey_id == undefined)
        input(type='hidden', value='', id='survey_id')
    else
        input(type='hidden', value=survey_id, id='survey_id')

    if (mode == undefined)
        input(type='hidden', value='', id='mode')
    else
        input(type='hidden', value=mode, id='mode')


    div#main-container.container(ng-controller='createController')

        div(ng-show='survey.survey_id != ""' style='margin-bottom: 10px; margin-top: 10px')
            div(style='display: inline-block; vertical-align: top')
                i.fa.fa-clock-o.fa-size-create
                    //i.notice &nbsp;&nbsp;질의응답 작성
            div.container-fluid(style='display: inline-block; width: 90%')
                .rows
                    .col-md-6.col-sm-6
                        i.notice-time.notice 생성 : {{ survey.created_at }}
                    .col-md-6.col-sm-6
                        i.notice-time.notice 마지막 수정 : {{ survey.modified_at }}

            //i.fa.fa-edit
            //    i.notice &nbsp;&nbsp;질의응답 작성


        i.fa.fa-warning.fa-2x
            i.notice &nbsp;&nbsp;주의사항

        // TODO 수정 필요
        h5 설문지의 응답이 시작되고, 사용자 데이터가 추가되면 질의응답을 수정(내용 추가 및 삭제 변경) 을 할 수 없습니다.
        h5 설문 시작 전 질의응답을 다시 한번 확인해 주십시오.

        hr.assign-hr-top

        // h4
        div#qid-title
            h4.assign-info-h 설문제목 &nbsp;
            input.assign-q-input.assign-default-info.assign-c-title(ng-model='survey.title', type='text', placeholder='제목 입력', ng-readonly='flag.isTimeSet',
            style='max-height: 45px !important')
        div.no-padding(ng-show="!flag.isTimeSet")
            h4.assign-info-h 설문종류
            .rows(style='margin-top: 10px')
                .col-sm-2.col-md-2
                    label
                        input(type='radio', ng-checked='survey.type == 0', ng-value='0', ng-model='survey.type', value='상시상담')
                        | &nbsp;상시상담
                .col-sm-2.col-md-2
                    label
                        input(type='radio', ng-checked='survey.type == 1', ng-value='1', ng-model='survey.type', value='학과설문')
                        | &nbsp;학과설문
                .col-sm-2.col-md-2
                    label
                        input(type='radio', ng-checked='survey.type == 2', ng-value='2', ng-model='survey.type', value='학교설문')
                        | &nbsp;학교설문
            br
            br
            div(style='margin-bottom: 10px')
                h4.assign-info-h 공지사항
            textarea.assign-q-textarea.assign-c-notice(ng-model='survey.notice', placeholder="최대 200 글자까지 입력 가능")


            br
            br
            div(style='margin-bottom: 10px')
                h4.assign-info-h 공유설정
                label(style='display: block; margin-top: 10px')
                    input(ng-model='survey.is_share', type='checkbox')
                    | &nbsp;&nbsp;본 설문의 데이터를 다른 교원과 공유합니다.

        // h4.assign-title &nbsp;{{ survey.title }}

        hr.assign-hr-top

        div.no-padding(ng-show="flag.isShowMain")
            i.fa.fa-edit.fa-2x
                i.notice &nbsp;&nbsp;질의응답 작성

            h4(ng-show='!flag.isEditable', style="font-weight: 800 !important;") 이 설문지에 대한 응답이 존재하므로, 질의응답 내용은 변경되지 않습니다.

            div.assign-list
                div.assign-q(ng-repeat='quest in survey.questions | orderBy: "order"', id='qid-{{quest.no}}')
                    .container-fluid.no-padding
                        .rows
                            .col-md-6.col-sm-6
                                div
                                    h4.assign-q-title(style='display: inline-block') {{ $index + 1 + '. ' }}&nbsp;
                                    input.assign-q-input.assign-default-info.assign-c-qtitle(ng-model='quest.name', type='text', placeholder='이름 입력',
                                    style='max-height: 45px !important')
                            .col-md-6.col-sm-6.no-padding
                                div
                                    button.btn.ku-button.create-button(type='button', ng-click='click.sortQuestion(0, quest)')
                                        i.fa.fa-arrow-up.fa-neg.fa-1x

                                    a &nbsp;
                                    button.btn.ku-button.create-button(type='button', ng-click='click.sortQuestion(1, quest)')
                                        i.fa.fa-arrow-down.fa-neg.fa-1x

                                    a &nbsp;
                                    button.btn.ku-button.create-button(type='button', ng-click='click.removeQuestion(quest.no)')
                                        i.fa.fa-times.fa-neg.fa-1x

                                    a &nbsp;
                                    .ku-select.create-type.quest-type
                                        select(ng-model='quest.type_select', ng-options='data as data.name for data in option.type',
                                        ng-change='click.changeQuestionType(quest)')


                    // 주관식 문항
                    //div(ng-show='quest.type == 0')
                    //    textarea.assign-q-textarea(ng-model='quest.write', placeholder="최대 {{ quest.maxLength }} 글자까지 입력 가능")

                    //div.container-fluid.no-padding(ng-show='quest.type == 1 || quest.type == 2')
                    div.container-fluid.no-padding(ng-show='quest.type == 1 || quest.type == 2 || quest.type == 3')
                        .rows
                            .col-md-6.col-sm-6.no-padding
                                div.container-fluid.no-padding(ng-repeat='option in quest.options | orderBy : "order"')
                                    div.no-padding(style='margin-top: 10px')
                                        button.btn.ku-button.edit-button(type='button', ng-click='click.sortSelection(0, quest, option)')
                                            i.fa.fa-arrow-up.fa-neg.fa-05x
                                        a &nbsp;
                                        button.btn.ku-button.edit-button(type='button', ng-click='click.sortSelection(1, quest, option)')
                                            i.fa.fa-arrow-down.fa-neg.fa-05x
                                        a &nbsp;
                                        button.btn.ku-button.edit-button(type='button', ng-click='click.removeSelection(quest.options, option.no)')
                                            i.fa.fa-times.fa-neg.fa-05x
                                        a &nbsp;
                                        button.btn.ku-button.edit-button(type='button', ng-click='click.editSelection(option)')
                                            i.fa.fa-pencil.fa-neg.fa-05x
                                        a &nbsp;

                                        div(style='display: inline-block; vertical-align: -6px')
                                            label
                                                input(ng-model='option.write', type='checkbox')
                                                | &nbsp;&nbsp;주관식 입력
                                    div(style='margin-top: -3px')
                                        h5 {{ $index + 1 + '. ' + option.name  }}&nbsp;

                                    //input.assign-q-input(ng-show='option.custom && option.checked', ng-model='option.write', type='text', placeholder='세부 사항 입력')

                            .col-md-6.col-sm-6.no-padding
                                //div(style='margin-top: 10px')
                                div(style='margin-top: 10px')
                                    // TODO : 모바일에서만 살짝 어긋남 -> Chrome 과 safari 의 차이점이 존재하는듯
                                    //button.btn.ku-button.create-button(type='button', ng-click='click.createSelection(quest)', style='margin-top: 0px')
                                    //button.btn.ku-button.create-button(type='button', ng-click='click.createSelection(quest)')
                                    button.btn.ku-button.create-button(type='button', ng-click='click.createSelection(quest)', style='margin-top: 0px; ')
                                        i.fa.fa-plus.fa-neg.fa-1x
                                    //input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름', style='margin-top: 0px; margin-bottom: 0px !important')
                                    //input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름', style='margin-top: 0px; margin-bottom: 0px !important; display: inline-block')
                                    input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름', style='margin-top: 0px; display: inline-block; vertical-align: -1px !important; max-height: 45px !important')
                                    //input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름',)



                    //// 객관식 문항 (다중)
                    //div(ng-show='quest.type == 2')
                    //    div(ng-repeat='option in quest.options')
                    //        label.assign-q-lab
                    //            //input(type='checkbox', name='quest.no',
                    //            input(type='checkbox',
                    //            ng-click='click.checkQuestion(quest, option)', ng-checked='option.checked')
                    //            | &nbsp;{{ option.no }}.&nbsp;{{ option.name }}
                    //
                    //        input.assign-q-input(ng-show='option.custom && option.checked', ng-model='option.write', type='text', placeholder='세부 사항 입력')

                    hr.create-hr


            // 설문 문항 (question) 의 위치 변경은 문항 사이 들에서 변경하면 된다.
            // TODO : 정렬 필요
            //hr
            //div.create-form
            div.container-fluid.no-padding(style='margin-bottom: 10px')

                i.fa.fa-tags.fa-2x
                    i.notice &nbsp;&nbsp;질의응답 생성

                .rows
                    .col-md-6.col-sm-6.no-padding
                        //input.assign-q-input.assign-default-info.assign-c-qtitle(ng-model='input.name', type='text', placeholder='이름 입력')
                        //input.assign-q-input.assign-default-info.assign-c-qtitle(ng-model='quest.name', type='text', placeholder='이름 입력')
                        a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        input.assign-q-input.assign-default-info.assign-c-qtitle(ng-model='input.name', type='text', placeholder='이름 입력',
                        style='max-height: 45px !important')
                    .col-md-6.col-sm-6.no-padding
                        //style='margin-top: -25px !important; width: 117px')
                        div
                            // style='margin-top: -25px !important; width: 117px')
                            button.btn.ku-button.create-button(type='button', ng-click='click.createQuestion()',style='width: 117px')
                                i.fa.fa-plus.fa-neg.fa-1x &nbsp;&nbsp;문항 추가
                            a &nbsp;
                            .ku-select.create-type.quest-type
                                select(ng-model='select.type', ng-options='data as data.name for data in option.type',
                                ng-change='')



        div.no-padding(ng-show="flag.isShowSetTime")
            .container
                .row
                    .col-sm-4
                        .form-group
                            h4 시작 시간
                            #dtpicker-start.input-group.date
                                input.form-control(type='text')

                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar

                            h4 &nbsp;
                            h4 마감 시간
                            #dtpicker-end.input-group.date
                                input.form-control(type='text')

                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                    .col-sm-8(style="padding-left: 10px; ")

                        i.fa.fa-info.fa-2x
                            i.notice &nbsp;&nbsp;응답시간 설정

                        h5 지정한 응답 시간 사이에 설문이 학생들에게 보여집니다. (단, 통계 자료에서는 응답 시간이 종료되도 계속 보여집니다)
                        h5 응답불가 상태가 되면 설문이 학생들에게 보여지지 않으며, 설문에 참여할 수 없습니다.
                        h5 설정 전, 먼저 변경사항을 저장해주세요.
                        //div(style="padding-left: 10px; float: right")
                        div
                            button.btn.ku-button(style="height: 33px !important; margin-right: 10px", type='button', ng-click='click.saveTime()')
                                i.fa.fa-floppy-o.fa-neg.fa-12x &nbsp;&nbsp;응답시간 저장
                            button.btn.ku-button(style="height: 33px !important; margin-right: 10px", type='button', ng-click='click.eraseTime()')
                                i.fa.fa-stop-circle.fa-neg.fa-12x &nbsp;&nbsp;응답불가 상태로 변경
                            button.btn.ku-button(style="height: 33px !important; margin-right: 10px", type='button', ng-click='click.saveCancel()')
                                i.fa.fa-times.fa-neg.fa-12x &nbsp;&nbsp;취소

        div.no-padding(ng-show="flag.isShowDeleteConfirm")
            .container
                .row
                    .col-sm-8(style="padding-left: 10px; ")

                        //h5 &nbsp;
                        i.fa.fa-info.fa-2x
                            i.notice &nbsp;&nbsp;설문지 삭제

                        h4 현재 설문을 삭제하면, 지정한 모든 설문 양식과 학생들이 작성한 설문 데이터, 통계자료가 함께 삭제되며, 복구할 수 없습니다!
                        //div(style="padding-left: 10px; float: right")

                    .col-sm-4
                        h5 &nbsp;
                        div
                            button.btn.ku-button(style="height: 33px !important; margin-right: 10px", type='button', ng-click='click.delete()')
                                i.fa.fa-times.fa-neg.fa-12x &nbsp;&nbsp;삭제
                            button.btn.ku-button(style="height: 33px !important; margin-right: 10px", type='button', ng-click='click.deleteCancel()')
                                i.fa.fa-arrow-circle-left.fa-neg.fa-12x &nbsp;&nbsp;취소
                        h3 &nbsp;


        div.no-padding(ng-show="flag.isShowCommand")
            button.btn.ku-button(type='button', ng-click='click.postForm()')
                i.fa.fa-floppy-o.fa-neg.fa-12x &nbsp;&nbsp;변경사항 저장
            a &nbsp;&nbsp;
            button.btn.ku-button(type='button', ng-click='click.up()')
                i.fa.fa-arrow-up.fa-neg.fa-12x &nbsp;&nbsp;위로 이동
            a &nbsp;&nbsp;
            button.btn.ku-button(type='button', ng-click='click.back()')
                i.fa.fa-arrow-left.fa-neg.fa-12x &nbsp;&nbsp;리스트로 돌아가기
            a &nbsp;&nbsp;
            button.btn.ku-button(type='button', ng-click='click.apply()')
                i.fa.fa-clock-o.fa-neg.fa-12x &nbsp;&nbsp;응답시간 설정
            a &nbsp;&nbsp;
            button.btn.ku-button(type='button', ng-click='click.deleteCheck()')
                i.fa.fa-times.fa-neg.fa-12x &nbsp;&nbsp;삭제
            a &nbsp;&nbsp;

        //button.btn.ku-button(type='button', ng-click='click.test()')
        //    i.fa.fa-arrow-left.fa-neg.fa-12x &nbsp;&nbsp;리스트로 돌아가기



    link(rel='stylesheet', href='/public/stylesheets/assign.css')
    link(rel='stylesheet', href='/public/stylesheets/assign-c.css')
    link(rel='stylesheet', href='/public/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

    script(src='/public/javascripts/controller/create.js')
    script(src='/public/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    //script(src='/public/javascripts/publicAPI.js')
    //script(src='/public/javascripts/professor.js')