extends layout

block content

    if (survey_id == undefined)
        input(type='hidden', value='', id='survey_id')
    else
        input(type='hidden', value=survey_id, id='survey_id')

    div#main-container.container(ng-controller='assignController')

        h4
        h4(style='display: inline') 설문 참여 중 :
        h4.assign-title &nbsp;{{ survey.title }}
        hr.assign-hr-top

        i.fa.fa-lightbulb-o.fa-2x
            i.notice &nbsp;&nbsp;공지사항
        h5 {{ survey.notice }}
        //hr.assign-hr-top

        h5 &nbsp;
        i.fa.fa-address-book-o.fa-2x
            i.notice &nbsp;&nbsp;기본정보

        div.container-fluid.assign-default-info-container
            .rows
                .col-md-3.col-sm-3
                    div
                        h4.assign-info-h 이름&nbsp;&nbsp;
                        input.assign-q-input.assign-default-info(ng-model='survey.hak_name',ng-disabled='true', type='text')
                .col-md-3.col-sm-3
                    div
                        h4.assign-info-h 학번&nbsp;&nbsp;
                        input.assign-q-input.assign-default-info(ng-model='survey.hak_number',ng-disabled='true', type='text')
                .col-md-3.col-sm-3
                    div
                        h4.assign-info-h 학년&nbsp;&nbsp;
                        input.assign-q-input.assign-default-info(ng-model='survey.hak_grade', type='number',
                        style='text-align: right', id='qid-grade', pattern='[0-9]*')


        hr.assign-hr-top

        i.fa.fa-edit.fa-2x
            i.notice &nbsp;&nbsp;질의응답

        //h8 &nbsp;
        div.assign-list
            div.assign-q(ng-repeat='quest in survey.questions | orderBy : "order"', id='qid-{{quest.no}}')
                div.assign-entry
                    h4.assign-q-title {{ $index + 1 + '. ' + quest.name }}
                    h4.assign-q-multi(ng-show='quest.type == 2') &nbsp; (복수 선택가능)
                    h4.assign-q-multi(ng-show='quest.type == 3') &nbsp; (복수 선택가능, 순위지정)
                // 주관식 문항
                div(ng-show='quest.type == 0')
                    textarea.assign-q-textarea(ng-model='quest.input', placeholder="최대 200 글자까지 입력 가능")
                    //textarea.assign-q-textarea(ng-model='quest.input', placeholder="최대 {{ quest.maxLength }} 글자까지 입력 가능")

                //- ng-checked : one-way binding!

                // 객관식 문항 (단일)
                div(ng-show='quest.type == 1')
                    div(ng-repeat='option in quest.options | orderBy : "order"')
                        label.assign-q-lab
                            //input(type='radio',name='quest.no',
                            input(type='radio',
                            ng-click='click.checkQuestion(quest, option)', ng-checked='option.checked')
                            | &nbsp;{{ option.no }}.&nbsp;{{ option.name }}

                        input.assign-q-input(ng-show='option.write && option.checked', ng-model='option.input', type='text', placeholder='세부 사항 입력')

                // 객관식 문항 (다중)
                div(ng-show='quest.type == 2')
                    div(ng-repeat='option in quest.options | orderBy : "order"')
                        label.assign-q-lab
                            //input(type='checkbox', name='quest.no',
                            input(type='checkbox',
                            ng-click='click.checkQuestion(quest, option)', ng-checked='option.checked')
                            | &nbsp;{{ option.no }}.&nbsp;{{ option.name }}

                        input.assign-q-input(ng-show='option.write && option.checked', ng-model='option.input', type='text', placeholder='세부 사항 입력')

                div.container-fluid.no-padding(ng-show='quest.type == 3')
                    .rows
                        .col-md-6.col-sm-6.no-padding
                            div.container-fluid.no-padding(ng-repeat='option in quest.options | orderBy : "sel_order" | filter : {checked : true}')
                                div.no-padding(style='margin-top: 10px')
                                    button.btn.ku-button.edit-button(type='button', ng-click='click.sortSelection(0, quest, option)')
                                        i.fa.fa-arrow-up.fa-neg.fa-05x
                                    a &nbsp;
                                    button.btn.ku-button.edit-button(type='button', ng-click='click.sortSelection(1, quest, option)')
                                        i.fa.fa-arrow-down.fa-neg.fa-05x
                                    a &nbsp;
                                    //button.btn.ku-button.edit-button(type='button', ng-click='click.removeSelection(quest.options, option.no)')
                                    //    i.fa.fa-times.fa-neg.fa-05x
                                    input.assign-q-input(style='display: inline-block', ng-show='option.write && option.checked', ng-model='option.input', type='text', placeholder='세부 사항 입력')

                                    //div(style='display: inline-block; vertical-align: -6px')
                                    //    label
                                    //        input(ng-model='option.write', type='checkbox')
                                    //        | &nbsp;&nbsp;주관식 입력


                                div(style='margin-top: -3px')
                                    h5 {{ $index + 1 + '. ' + option.name  }}&nbsp;

                        .col-md-6.col-sm-6.no-padding
                            div(ng-repeat='option in quest.options | orderBy : "order"')
                                label.assign-q-lab
                                    //input(type='checkbox', name='quest.no',
                                    input(type='checkbox',
                                    ng-click='click.checkQuestion(quest, option)', ng-checked='option.checked')
                                    | &nbsp;{{ option.no }}.&nbsp;{{ option.name }}
                            //div(style='margin-top: 10px')
                            //div(style='margin-top: 10px')
                            //    // TODO : 모바일에서만 살짝 어긋남 -> Chrome 과 safari 의 차이점이 존재하는듯
                            //    //button.btn.ku-button.create-button(type='button', ng-click='click.createSelection(quest)', style='margin-top: 0px')
                            //    //button.btn.ku-button.create-button(type='button', ng-click='click.createSelection(quest)')
                            //    button.btn.ku-button.create-button(type='button', ng-click='click.createSelection(quest)', style='margin-top: 0px; ')
                            //        i.fa.fa-plus.fa-neg.fa-1x
                            //    //input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름', style='margin-top: 0px; margin-bottom: 0px !important')
                            //    //input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름', style='margin-top: 0px; margin-bottom: 0px !important; display: inline-block')
                            //    input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름', style='margin-top: 0px; display: inline-block; vertical-align: -1px !important')
                            //    //input.assign-q-input.assign-default-info.assign-c-otitle(ng-model='quest.options_select.name', type='text', placeholder='선택지 이름',)


                hr.assign-hr

        button.btn.ku-button(type='button', ng-click='click.postSurvey()')
            i.fa.fa-check.fa-neg.fa-12x &nbsp;응답 제출


    script(src='/public/javascripts/controller/assign.js')
    link(rel='stylesheet', href='/public/stylesheets/assign.css')
    link(rel='stylesheet', href='/public/stylesheets/assign-c.css')